.unstyled-list{
    list-style: none;    
    margin: 0;    
    padding: 0;
}

.no-show{
    display: none !important;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}

body{
    background-color: #1e293b;
    color: #fff;
}

/* Header */

.header_wrapper{
    background-color: #0f172acc;
    display: flex;
}

.header_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container #mobil_menu_btn{
    display: none;
}

.header_logo_container{
    width: 100%;
    max-width: 150px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_logo_container img{
    width: 100%;
    height: auto;
}

nav.main_menu{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

ul.menu{
    display: flex;
    justify-content: end;
    width: 100%;
}

ul.menu li{
    padding: 5px 10px;
    border-bottom: 3px solid #ffffff00;
    transition: 0.3s;
    position: relative;
}
ul.menu li:hover{
    /* background: blue; */
    /* transition: 0.3s; */    
}

ul.menu li::before{
    content:" ";
    background-color: #ffffff;
    position: absolute;
    width: 5px;
    top: 100%;
    height: 3px;
    right: calc(50% - 2.5px);
    transform: scaleX(0);
    transition: 0.2s;
}

ul.menu li:hover::before{    
    transition: 0.2s;
    animation-name: menu_hover;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;   
}

@media screen and (min-width:768px){
    @keyframes menu_hover {
    
        0%{
            transform: rotate(0deg) scaleX(0);
            height: 3px;
        }    
        50% {
            transform: rotate(360deg) scaleX(1);        
            /* right: 0; */
            /* width: 100%; */
            top: 100%;
            height: 3px;
        }
        90%{        
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #1e293b;
            border-bottom: 3px solid white;
            border-top: 0px solid white;
            transform: rotate(360deg) scaleX(1);        
        }
        100%{
            top: 10%;
            right: 0;
            width: 100%;
            height: 90%;
            background-color: #1e293b;
            border-top: 1px solid white;
            border-bottom: 3px solid white;
            transform: rotate(360deg) scaleX(1);        
        }
    }

    #main_menu.collapse{
        display: flex;
    }
    
}

ul.menu li a{
    text-decoration: none;
    color: white;
    z-index: 1;
    position: relative;
}


@media screen and (max-width: 767px){

    .header_container #mobil_menu_btn{
        display: initial;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        background-color: #1e293b;
    }
    .header_wrapper {    
        flex-direction: column;
    }
    
    ul.menu{
        flex-direction: column;
    }

    ul.menu li:hover{
        background-color: #1e293b;
        transition: 0.3s;
        cursor: pointer;
    }
    ul.menu li a{

    }
}

/* main css */

    main{

    }

    main section.section{
        padding: 20px;
    }


    /* SECTION START */

    .section_start{
        background-image: url(./../img/bg01.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .section_start::before{
        content: " ";
        position: absolute;
        background-color: #121a2e;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0.8;
        z-index: 0;
    }

    .section_start .start_wrapper{display: flex;padding: 20px;position: relative;}

    .section_start .start_photo_container{
        width: 100%;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section_start .start_pic_container{width: 100%;max-width: 300px;border-radius: 50%;overflow: hidden;border: 3px solid #0f86dd;}

    .section_start .start_pic_container img {
        width: 100%;
        height: auto;
    }

    .section_start .start_text_container{width: 100%;max-width: 50%;}

    .section_start .start_text_container .text_wrap{

    }
    .section_start .start_text_container .text_wrap h1{font-size: 4em;}
    .section_start .start_text_container .text_wrap p:nth-child(2){font-size: 1.5em;color: #4ade80;}
    .section_start .start_text_container .text_wrap p:nth-child(3){font-size: 1.2em;}

    @media screen and (max-width: 767px) {
        .section_start .start_wrapper {
            flex-direction: column;
            align-items: center;
        }
        .section_start .start_photo_container,
        .section_start .start_text_container{
            max-width: 100%;
            padding: 20px;
        }
        .section_start .start_text_container .text_wrap{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .section_start .start_text_container .text_wrap h1{font-size: 2em;}
        .section_start .start_text_container .text_wrap p{

        }
    } 
    
    /* SECTION PROJECTS */

    .section_projects{

    }

    .section_projects .title_wrapper{margin-bottom: 30px;}

    .section_projects .title_wrapper h2{text-align: center;}

    .section_projects .projects_wrapper{

    }

    .section_projects .project_card_container{display: flex;justify-content: center;flex-wrap: wrap;}

    .section_projects .project_card{
        width: 100%;
        max-width: 320px;
        box-shadow: 1px 1px 14px #1a1a1a;
        border-radius: 5px;
        overflow: hidden;
        transition: 0.3s;
        margin: 10px;
    }

    .section_projects .project_card:hover{
        transform: translateY(-5px);
        transition: 0.3s;
        box-shadow: 6px 6px 17px black;
    }
    .section_projects .card_header{position: relative;}

    .section_projects .card_header::before{
        content: " ";
        position: absolute;
        background: linear-gradient(0deg, black, transparent);
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
    .section_projects .card_img_container{
        width: 100%;
        height: 180px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .section_projects .card_img_container img {
        width: 100%;
        height: auto;
    }

    .section_projects .card_body{padding: 20px;}
    .section_projects .card_body .card_title_tools{display: flex;justify-content: space-between;}
    .section_projects .card_body .card_title_tools h4{font-size: 1.2em;font-weight: bold;}
    .section_projects .card_body .tools_container{display: flex;flex-wrap: wrap;width: 100%;max-width: 40%;justify-content: end;}
    .section_projects .card_body .tools_container .tool{padding: 3px 6px;border-radius: 15px;overflow: hidden;font-size: 11px;display: flex;align-items: center;text-align: center;height: 24px;margin-right: 3px;opacity: 0.7;}
    .section_projects .card_body .tools_container .tool.react{background-color: #057ac0;}
    .section_projects .card_body .tools_container .tool.nodejs{background-color: #339933;}
    .section_projects .card_body .tools_container .tool.css{
        background-color: #5692e7;
    }
    .section_projects .card_body .tools_container .tool.php{
        background-color: #787CB5;
    }
    .section_projects .card_body .tools_container .tool.mysql{

    }
    .section_projects .card_body .tools_container .tool.vuejs{

    }
    .section_projects .card_body .tools_container .tool.mongodb{

    }
    .section_projects .card_body .tools_container .tool.javascript{background-color:  #F7DF1E;color: #000000;}

    .section_projects .card_body .card_description{

    }
    .section_projects .card_body .card_description p{

    }
    .section_projects .card_body .card_links{

    }
    .section_projects .card_body .card_links a{color: #0f86dd;}
    .section_projects .card_body .card_links a .card_icon{

    }
    .section_projects .card_body .card_links a .card_icon.link{
        
    }


    /* --------------------------------------- */
    /* SECTION CONTACT */

    .section_contact{

    }

    .section_contact .title_wrapper{display: flex;justify-content: center;margin-bottom: 20px;}

    .section_contact .title_wrapper h2{

    }

    .section_contact .info_form_wrapper{padding: 20px;}

    .section_contact .info_wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .section_contact .info_container{
        display: flex;
        flex-wrap: wrap;
    }

    .section_contact .info_group{
        display: flex;
        align-items: start;
    }

    .section_contact .info_group .icon_container{
        padding: 10px;
        color: #0f86dd;
    }
    .section_contact .info_group .text_container{
        padding: 10px;
    }

    .section_contact .info_contact_wrapper{padding: 20px;}
    .section_contact .social_networks_wrapper{
        padding: 20px;
    }
    .section_contact .social_networks_container{display: flex;padding: 20px 0;}
    .section_contact .social_networks_wrapper a{
        border-radius: 50%;
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #334155;
        margin-right: 10px;
        transition: 0.3s;
    }
    .section_contact .social_networks_wrapper a:hover{
        background-color: #3b82f6;
        transition: 0.3s;
    }

/* footer */

footer{background-color: #121a2e;}

footer p{text-align: center;color: white;padding: 20px;margin: 0;}

footer p span{
    
}
